<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--connectionString="Server=DESKTOP-U5U2T3T;Database=TableBookingDB;Initial Catalog=TableBookingDB;Trusted_Connection=True;" />-->
  <connectionStrings>
    <add name="SqlServerDB"
         connectionString="Server=DESKTOP-U5U2T3T;Database=TableBookingDB;Initial Catalog=TableBookingDB;User Id=root;Password=root" />
  </connectionStrings>
</configuration>